html{
    font-family: 'Raleway', sans-serif;
}

            /*-----------------------------------------------------    ROW 1    ----------------------------------*/
#row1{
}

#wood1{
    width: 100%;
    margin-bottom: -0.5rem;
}

            /*-----------------------------------------------------    ROW 2    ----------------------------------*/
#row2{
    background-color: #14A3A9;
    padding-bottom: 0.5rem;
}
            /*-----------------------------------------------------    ROW 3    ----------------------------------*/
.imgcontainer{
    width: 100%;
    height: auto;
}

#logocont{


}

#logo{
    width: 100%;
    height: 100%;
    height:auto;
    margin-bottom: 5rem;
    margin-top: 0.5rem;
}

            /*-----------------------------------------------------    ROW 4    ----------------------------------*/
.contact{
   text-align: left;
}

#black{
    font-size:2rem;
    font-weight: bolder;
    text-align: left;
}

#blue{
    color: #14A3A9; 
    font-weight: bolder;
    margin-top: -5rem;
    line-height: 3rem;
    font-size: 1.2rem;
}

#bluef{
    color: #14A3A9; 
    font-weight: 400;
    font-size: 2rem;
    margin-top: -2rem;
    margin-bottom: 4rem;
}

#phone{
    color: #000000;
    font-weight: bolder;
}

a{
    color: #000000;
    text-decoration: none;
    font-weight: 400;
}

a:hover{
    color: #14A3A9; 
    transition-duration: 0.5s;
}
#corner{
    max-width: 12rem;
    max-height: 12rem;
}

#cornercont{
    display: flex;
    justify-content: flex-end;
}

            /*-----------------------------------------------------    ROW 5    ----------------------------------*/
#row6{
    background-color: #14A3A9;
}
#commingsoon{
    color: #ffffff;
    font-size: 2rem;
    text-align: center;
    margin-top: -0.01rem;
}
            /*-----------------------------------------------------    ROW 6    ----------------------------------*/
            /*-----------------------------------------------------    ROW 7    ----------------------------------*/